@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Gruppo&display=swap');

.nav-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: transparent;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 50%; /* Move container to the middle of the screen */
  transform: translateX(-50%); /* Adjust the position to center */
}
  .menu {
    z-index: 4;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    z-index: 4;
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 4;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 4;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 4;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4;
  }
  
  /*____________________Overlay Menu______________________________________*/
  
  
  #ContainerMenu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000dd;
    z-index: 3;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li a {
    text-decoration: none; 
    color: inherit; 
  }
  
  .listMenu{
    position: relative;
    color: aliceblue;
    text-decoration: none;
    border: red 2px ;
    text-align: center;
    margin-top: 7.5rem;
    font-family: 'Gruppo', cursive;
    font-size: 55px;
  }
  
  /*____________________Hover Menu______________________________________*/

  .listMenu ul li a:hover {
    transform: scale(1.5);
  }
  
  