@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.cdnfonts.com/css/matrix");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

#defaultCanvas0 {
  width: 100%;
  z-index: 2;
}

.container-content {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 90%; /* Occupy full height of the viewport */
}

.logo-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  justify-content: center;
  font-family: "Matrix", sans-serif;
  font-size: 5vw;
  letter-spacing: 17px;
  text-shadow: rgba(16, 110, 16, 1) 0px 0px 30px;
  color: rgb(255, 255, 255);
  user-select: none;
  margin: auto;
}

.logo-container a {
  font-size: 50px;
}

.socialsBarontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 9%;
  z-index: 2;
}
/* Soclials */
.socialsBar {
  border: red 2px;
  background-color: rgba(18, 18, 18, 0.791);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.socialsBar,
i {
  text-align: center;
  color: rgb(117, 117, 117);
  text-align: center;
  letter-spacing: 10px;
  font-size: 10px;
  padding-top: 0.7%;
  transition: transform 0.3s ease;
}

.socialsBar i:hover {
  transform: scale(1.3);
  color: aliceblue;
}

/* Soclials end*/

.container-down {
  display: flex;
  flex-direction: row;
  width: 99;
  height: 100%;
  border: red 2px;
}

.container-left,
.container-right {
  user-select: none;
  z-index: 2;
  display: flex;
  justify-content: center;
  background-color: #4c4c4c90;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 2.5rem;
  margin: 3.5rem;
  top: 80%;
  width: 90%;
  height: 40vw;
  color: white;
  font-family: "Gruppo", cursive;
  font-size: 2.5vh;
}

.container-left {
  overflow: hidden;
}

.container-left-tekst {
  text-align: center;
  overflow: auto;
}

.container-right {
  align-items: center;
  flex-direction: column;
}

.container-right-tekst {
  text-align: center;
  text-decoration: dotted;
}

.container-right img {
  border-radius: 10px;
  width: 90%;
  height: auto;
}

/* phone size */

@media (max-width: 650px) {
  .container-down {
    display: flex;
    flex-direction: row;
    height: 100%;
    border: red 2px;
  }

  .logo-container {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    align-items: center;
    font-family: "Matrix", sans-serif;
    font-size: 5vw;
    letter-spacing: 17px;
    text-shadow: rgba(16, 110, 16, 1) 0px 0px 30px;
    color: rgb(255, 255, 255);
    user-select: none;
  }

  .socialsBar,
  i {
    text-align: center;
    color: rgb(117, 117, 117);
    text-align: center;
    letter-spacing: 10px;
    font-size: 2vw;
    padding-top: 0.7%;
    transition: transform 0.3s ease;
  }

  .container-down {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    border: red 2px;
    justify-content: center;
    margin-top: 10rem;
  }

  .container-left,
  .container-right {
    user-select: none;
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: #4c4c4c90;
    border-radius: 10px;
    padding: 2.5rem;
    margin: 0rem !important;
    top: 80%;
    width: 85%;
    height: 85%;
    color: white;
    font-family: "Gruppo", cursive;
    font-size: 2vh;
    overflow: unset;
  }

  .container-left-tekst {
    text-align: center;
    height: 100%;
    max-height: 100%;
  }

  .container-right {
    margin-top: 3rem !important;
  }

  .container-right img {
    border-radius: 10px;
    width: 70vw;
    height: auto;
  }
}
