@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
html,
body {
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

#defaultCanvas0 {
  z-index: 2;
}

.container-content {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 100%; /* Occupy full height of the viewport */
}

.logo-container {
  z-index: 2;
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
  font-family: "Abel", sans-serif;
  font-size: 100px;
  text-shadow: rgba(16, 110, 16, 1) 0px 0px 30px;
  color: rgb(255, 255, 255);
}

.logo-container a {
  font-size: 50px;
}

.container-down {
  display: flex;
  flex-direction: row;
  height: 100%;
  border: red 2px;
}

.container-left,
.container-right {
  z-index: 2;
  display: flex;
  justify-content: center;
  background-color: #4c4c4c90;
  margin: 3rem;
  border-radius: 10px;
  padding: 2.5rem;
  top: 80%;
  width: 100%;
  height: 85%;
  color: white;
  font-family: "Gruppo", cursive;
  font-size: 25px;
}
.container-left {
  align-items: center;
  flex-direction: column;
}

.container-left-tekst {
  text-align: center;
}

.container-right {
  align-items: center;
  flex-direction: column;
}

.container-right-tekst {
  text-align: center;
  text-decoration: dotted;
}

.container-right img {
  border-radius: 10px;
  width: 700px;
  height: auto;
}
