@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Gruppo&display=swap');

html, body {
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

#defaultCanvas0 {
  z-index: 2;
}

.container-content{
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 100%; /* Occupy full height of the viewport */
}

.logo-container{
  z-index: 2;
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
  font-family: 'Gruppo', cursive;
  font-size: 100px;
  text-shadow: rgba(16,110,16,1) 0px 0px 30px;
  color: rgb(255, 255, 255);
}

.logo-container a {
  font-size: 50px;
}

.container-down{
  display: flex;
  flex-direction: row;
  height: 100%;
  border: red solid 2px;
  color: antiquewhite;
}

.container-left,.container-right{
  z-index: 2;
  border: red solid 2px;
  margin: 2rem;
  width: 100%;
  height: 100%;
}
.container-left{
}

.container-right {
}

