@import url("https://fonts.cdnfonts.com/css/matrix");
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  margin: 0;
  padding: 0;
  z-index: 1;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 210vh;
  background: #000000;
  z-index: 1;
}

.page1ContainerBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  overflow: hidden;
}

.page1ContainerTitel {
  z-index: 2;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  font-family: "Matrix", sans-serif;
  font-size: 4.5vw;
  letter-spacing: 17px;
  text-shadow: rgba(16, 110, 16, 1) 0px 0px 30px;
  color: rgb(255, 255, 255);
  user-select: none;
  margin: auto;
}

.titelBar {
  display: flex;
  position: sticky;
  padding-top: 2.4rem;
  z-index: 2;
  height: 3.5rem;
  width: 100%;
  background-color: rgba(35, 35, 35, 0.791);

  font-family: "Bruno Ace", cursive;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  color: aliceblue;
  user-select: none;
}

.page2container {
  z-index: 2;
  border: red 2px;
  display: flex;
  margin: 0;
  height: 75vh;
  font-weight: 100;
}

/* cards */

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  color: #ffffff;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  background-color: rgba(50, 0, 77, 0.406);
  border: solid 3px #474544;
  border-radius: 10px;
  max-width: 768px;
  height: 45rem;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h2 {
  color: #91ff00b3;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-family: "Bruno Ace", cursive;
}

.underline {
  border-bottom: solid 2px #91ff00b3;
  margin: -0.512em auto;
  width: 90px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #6fff00b0;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
  float: right;
  width: 45%;
}

input[type="text"],
[type="email"],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #91ff00b3;
  font-size: 1em;
  font-weight: 400;
  font-family: "Bruno Ace", cursive;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
}

.name {
  float: left;
  width: 45%;
}

select {
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png")
    no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.subject-input option {
  background-color: rgb(52, 0, 56);
}
.telephone {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #91ff00b3;
}

:-moz-placeholder {
  color: #91ff00b3;
  opacity: 1;
}

::-moz-placeholder {
  color: #91ff00b3;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #91ff00b3;
}

#form_button {
  background: none;
  border: solid 2px #444744;
  color: #91ff00b3;
  cursor: pointer;
  display: inline-block;
  font-family: "Bruno Ace", cursive;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #f2f3eb;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }

  .icon {
    height: 35px;
    width: 35px;
  }

  .underline {
    width: 53px;
  }

  input[type="text"],
  [type="email"],
  select,
  textarea {
    font-size: 0.875em;
  }
}
