@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  z-index: 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #000000;
  z-index: 1;
}

.screen1Container {
  display: flex;
  border: red solid 2px;
  z-index: 2;
  width: auto;
  height: 100vh;
}

.titelContainer {
  z-index: 2;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 100%; /* Occupy full height of the viewport */
  width: 100%;

  color: white;
  text-shadow: rgba(16, 110, 16, 1) 0px 0px 30px;
  font-family: "Abel", sans-serif;
  font-size: 100px;
  letter-spacing: 15px;
}

.screen2Container {
  width: auto;
  height: 100vh;
  z-index: 2;
}
